<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projects</title>
    </head>
    <body>
        {% block content %}
            <main>
                <div>
                    <h1>My Projects</h1>
                    <p>
                        <a href="{% url 'list_projects' %}">Create a new project</a>
                    </p>
                    {% if list_projects|length == 0 %}
                        <p>You are not assigned to any projects</p>
                    {% else %}
                        <table>
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Tasks</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for projects in list_projects %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'list_projects' project.pk %}">{{ project.name }}</a>
                                        </td>
                                        <td>{{ project.tasks.all|length }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% endif %}
                </div>
            </main>
        {% endblock content %}
    </body>
</html>
